.u-section-1 .u-sheet-1 {
  min-height: 770px;
}

.u-section-1 .u-image-1 {
  width: 403px;
  height: 130px;
  margin: 40px auto 0 40px;
}

.u-section-1 .u-form-1 {
  height: 281px;
  margin: -130px 0 0 570px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  padding: 8px 30px 9px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: -81px 17px 0 auto;
  padding: 8px 30px 9px;
}

.u-section-1 .u-btn-3 {
  margin: -145px 40px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-left: 370px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 110px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-top: -110px;
  }
}