.u-section-1 .u-sheet-1 {
  min-height: 770px;
}

.u-section-1 .u-image-1 {
  width: 403px;
  height: 130px;
  margin: 40px auto 0 40px;
}

.u-section-1 .u-form-1 {
  height: 376px;
  margin: -130px 0 60px 570px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-left: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 110px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-top: -110px;
  }
}