@import './base.css';

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(180deg, rgba(255, 250, 250, 0.74) 0.00%,rgb(0, 0, 0) 100.00%);
}

#app {
    height: 100vh;
}

button {
    border-radius: 15px;
    font-size: 1.2rem;
    min-width: 200px;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    background-color:#00a7b5;
    font-weight: 700;
}
img {
    border: 4px solid black;
    border-radius: 30px;
}