@import './base.css';

body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

button {
    border-radius: 12px;
    font-size: 1.2rem;
    min-width: 200px;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
